@model SimpleSocia.Services.Models.Account.MyProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-3" id="profile-picture">
        @*TODO: Check if user has profile picture else display default profile picture*@
        @if (1 == 2)
        {
            <img src="https://pbs.twimg.com/profile_images/1070678762398908416/3yP-3XiR_400x400.jpg" class="profilePicture" />
        }
        else
        {
            @*TODO: On hover give option to upload profile pic*@
            <img src="https://winkeyecare.com/wp-content/uploads/2013/03/Empty-Profile-Picture-450x450.jpg" class="profilePicture" />
        }
    </div>
    <div class="col-md-6">
        <a class="nav-item nav-link" href="#">Posts <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Friends</a>
    </div>
    <div class="col-md-3">
        <div class="navbar-nav">
          
        </div>
    </div>
</div>
<sdiv class="row">
    <div class="col-md-3">
        <h2>My Profile</h2>
        <p>Hello, @User.Identity.Name</p>
    </div>
    <div class="col-md-6">
        <form asp-controller="Posts" asp-action="Create" class="form-group">
            <input asp-for="CreatePost.Title" class="form-control"/>
            <textarea asp-for="CreatePost.Content" class="form-control" rows="4"></textarea>
            <input asp-for="CreatePost.WallId" value="@Model.WallId" hidden />
            <input asp-for="CreatePost.UserId" value="@Model.UserId" hidden />
            <input type="submit" value="Post" class="form-control btn btn-primary" />
        </form>
        @foreach (var post in Model.Posts)
        {
            <div>
                <div class="row">
                    <a>@post.CreatedOn.ToString("d")</a>
                    <h1 class="text-center">@post.Title</h1>
                    <p>@post.CharactersCount symbols</p>
                </div>
                <div class="row">
                    <p>@post.Content</p>
                </div>
                <div class="row">
                    Comments:
                    @foreach (var comment in post.Comments)
                    {
                        <div class="row">
                            <a>@comment.Author</a>
                            <p>@comment.CommentText</p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        <h2>Who to follow</h2>
    </div>
</sdiv>
