@using SimpleSocia.Services.Models.Followers
@using SimpleSocial.Data.Models
@model SimpleSocia.Services.Models.Posts.SinglePostViewComponentModel

<div class="single-post">
    <div class="user">
        <div class="header-wrapper">
            <div class="left-head" data-attr="@Model.Post.CreatedOn.ToString("d")">
                <div class="profile-picture" style="background-image: url(@Model.Post.User.ProfilePicture.FileName)"></div>
                <div class="user-name"><a asp-controller="Profiles" asp-action="Index" asp-route-userId="@Model.Post.User.Id"><strong>@Model.Post.User.UserName</strong></a></div>
            </div>
            <div class="right-head details">
                <span><i class="fas fa-ellipsis-h"></i></span>
                <div class="submenu">
                    <a asp-controller="Posts" asp-action="PostDetails" asp-route-id="@Model.Post.Id"><b>Go to post</b></a>
                    <a asp-area="" asp-controller="Reports" asp-action="SubmitReport" asp-route-postId="@Model.Post.Id"><b>Report</b></a>
                    @if (Model.Post.User.UserName == this.User.Identity.Name)
                    {
                        <button class="delete-post" data-deleteid="@Model.Post.Id"><b>Delete Post</b></button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <p>@Model.Post.Content</p>
    </div>
    <div class="likes-count">
        <button class="show-likes"><i class="fas fa-thumbs-up"></i> @Model.Post.LikesCount likes</button>
    </div>
    <div class="likes">
        @{
            var viewModel = new UsersListViewModel() { Users = Model.Post.Likes, NoUsersWord = "likes" };
        }


        @await Component.InvokeAsync("ListOfUsers", new { viewModel = viewModel })
    </div>
    <div class="actions">
        <div class="action-buttons" id="like">
            <button class="like-btn" data-postid="@Model.Post.Id" data-like="@Model.Post.IsLiked"><i class="far fa-thumbs-up"></i>Like</button>
        </div>
        <div class="action-buttons"><i class="far fa-comments"></i><button id="comment-button">Comment</button></div>
    </div>



    <div class="write-comment">
        <div class="profile-picture" style="background-image: url(@Model.ProfilePicture.FileName); background-size: cover"></div>
        <form asp-controller="Comments" asp-action="PostComment">
            <input asp-for="CommentInputModel.CommentText" placeholder="Write a comment..." />
            <input asp-for="CommentInputModel.AuthorId" value="@Model.PostVisitorId" hidden="hidden" aria-hidden="True" />
            <input asp-for="CommentInputModel.PostId" value="@Model.Post.Id" hidden="hidden" aria-hidden="True" />
            <button type="button" hidden>Button 1</button>
            <input type="submit" name="go" value="Submit" hidden />
        </form>
    </div>
    @foreach (var comment in Model.Post.Comments.OrderByDescending(c => c.PostedOn))
    {
        <div class="comments">
            <div class="single-comment">
                <div class="user" data-attr="@comment.PostedOn.ToString("d")">
                    <div class="profile-picture" style="background-image: url(@comment.Author.ProfilePicture.FileName)"></div>
                    <div class="user-name"><a asp-controller="Profiles" asp-action="Index" asp-route-userId="@comment.AuthorId"><strong>@comment.Author.UserName</strong></a></div>
                </div>
                <div class="comment-content">
                    <p>@comment.CommentText</p>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal">
    <div class="head-modal">
        <h3>Likes</h3>
        <button class="close-likes"><i class="fas fa-times"></i></button>
    </div>
    <div class="body"></div>
</div>

<div class="overlay">

</div>
