@using SimpleSocial.Data.Models
@model SimpleSocia.Services.Models.Account.MyProfileViewModel
@*@foreach (var post in Model.Posts)
    {
        <div class="row">
            <div class="row">
                <a>@post.CreatedOn.ToString("d")</a>
                <p>@post.CharactersCount symbols</p>
            </div>
            <div class="row">
                <p>@post.Content</p>
            </div>
            <div class="row">
                <div class="example">
                    <div data-emojiarea data-type="unicode" data-global-picker="false">
                        <div class="emoji-button">&#x1f604;</div>
                        <form asp-controller="Comments" asp-action="PostComment" class="form-group">
                            <textarea asp-for="CommentInputModel.CommentText" id="comment-text" rows="1" placeholder="Write a comment..." class="form-control" onkeyup="disableCommentButton()"></textarea>
                            <input asp-for="CommentInputModel.AuthorId" value="@Model.UserId" hidden="hidden" aria-hidden="True" />
                            <input asp-for="CommentInputModel.PostId" value="@post.Id" hidden="hidden" aria-hidden="True" />
                            <input type="submit" value="Comment" id="comment-button" class="btn btn-primary pull-right" disabled/>
                        </form>
                    </div>
                    Comments:
                    @foreach (var comment in post.Comments)
                    {
                        <div class="row">
                            <a>@comment.Author</a>
                            <p>@comment.CommentText</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }*@



@foreach (var post in Model.Posts)
{
    var showCommentSectionDiv = "show-comment-section" + post.Title;
    <div class="single-post">
        <div class="user" data-attr="@post.CreatedOn.ToString("d")">
            <div class="profile-picture" style="background-image: url(/profile-pictures/@post.User.ProfilePicture.FileName)"></div>
            <div class="user-name"><strong>@post.User.UserName</strong></div>
        </div>
        <div class="content">
            <p>@post.Content</p>
        </div>
        <div class="actions">
            <div class="action-buttons"><i class="far fa-thumbs-up"></i><button>Like</button></div>
            <div class="action-buttons"><i class="far fa-comments"></i><button id="comment-button">Comment</button></div>
        </div>  
        
        <div class="write-comment" id="@showCommentSectionDiv">
            @*//TODO: Add the form for comments with emojies*@
            <div class="profile-picture" style="background-image: url(/profile-pictures/@Model.ProfilePicture.FileName); background-size: cover"></div>
            <form asp-controller="Comments" asp-action="PostComment">
                <input asp-for="CommentInputModel.CommentText" placeholder="Write a comment..." />
                <input asp-for="CommentInputModel.AuthorId" value="@Model.UserId" hidden="hidden" aria-hidden="True" />
                <input asp-for="CommentInputModel.PostId" value="@post.Id" hidden="hidden" aria-hidden="True" />
                <button type="button" hidden>Button 1</button>
                <input type="submit" name="go" value="Submit" hidden/>
            </form>
        </div>
        @foreach (var comment in post.Comments.OrderByDescending(c => c.PostedOn))
        {
            <div class="comments">
                <div class="single-comment">
                    <div class="user" data-attr="@comment.PostedOn.ToString("d")">
                        <div class="profile-picture" style="background-image: url(/profile-pictures/@comment.Author.ProfilePicture.FileName)"></div>
                        <div class="user-name"><strong>@comment.Author.UserName</strong></div>
                    </div>
                    <div class="comment-content">
                        <p data-likes="20">@comment.CommentText</p>
                    </div>
                </div>
            </div>
        }
    </div>
}