@using SimpleSocial.Services.DataServices.UsersDataServices
@inject IUserServices UserServices

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/post.css" />
        <link rel="stylesheet" href="~/css/my-profile.css" />
        <link rel="stylesheet" href="~/css/navigation.css" />
        <link rel="stylesheet" href="~/css/administration.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <div class="body-wrapper">
        <nav>
            <div class="container">
                <ul>
                    <div class="left-functions">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="NewsFeed" asp-action="Index"><div>SimpleSocial</div></a></li>
                            if (User.IsInRole("Admin"))
                            {
                                <li><a asp-area="Administration" asp-controller="Admin" asp-action="Index">Administration</a></li>
                            }
                            <div class="search-bar">
                                <form autocomplete="off" asp-controller="Search" asp-action="Index" method="get">
                                    <div class="autocomplete">
                                        <input type="text" name="searchText" placeholder="Search for users" id="myInput">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        }
                        else
                        {
                            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                        }

                    </div>
                    <div class="right-functions">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Account" asp-action="MyProfile">My Profile</a></li>
                            <li>
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm">
                                    <button type="submit" class="logout-btn">Logout</button>
                                </form>
                            </li>
                        }
                    </div>
                </ul>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content content-wrapper">
            @RenderBody()
            <hr />
            <footer>
                <p>
                    &copy; @DateTime.Now.Year - SimpleSocial
                    <a asp-controller="Home" asp-action="Privacy" style="margin-left: 10px;" class="privacy-link">Privacy policy</a>
                    <span style="margin-left: 10px;">All rights reserved</span>

                </p>
            </footer>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/autocomplete.js"></script>
        
        <script src="/js/post.js"></script>
        <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/src/js/EmojiArea.js"></script>
        <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/main.js"></script>
        <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/jquery.emojiarea.js"></script>

        <script>
            var names = [];

            @foreach (var name in (List<string>)this.UserServices.GetAllUsernames())
            {
                @: names = names.concat('@name');
            }

            autocomplete(document.getElementById("myInput"), names);
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script src="/js/users.js"></script>
</body>
</html>
