@model SimpleSocia.Services.Models.Users.UserInfoViewModel
<div class="row user-info text-center">
    <div class="profile-picture-holder">
        <img src="@Model.ProfilePicture.FileName" class="profilePicture" />
        @if (Model.UserName == User.Identity.Name)
        {

            <div class="show-link">
                <a asp-action="ChangeProfilePicture" asp-controller="Account" style="color:white" class="upload-picture btn">Upload Profile Picture</a>
            </div>
        }
    </div>
    <h2>@Model.UserName</h2>
    <div class="user-info-details">
        @if (!string.IsNullOrEmpty(Model.FirstName) || !string.IsNullOrEmpty(Model.LastName))
        {
            <div><b>Names</b></div>
            <div>@Model.FirstName @Model.LastName</div>
        }
        @if (Model.Description != null)
        {
            <div><b>Bio</b></div>
            <div>@Model.Description</div>
        }
        @if (Model.BirthDay != null)
        {
            <div><b>Age</b></div><div>@Model.Age</div>
            <div><b><i class="fas fa-birthday-cake"></i> Birthday</b></div><div>@Model.BirthDay.Value.ToString("d")</div>
        }
        @if (!string.IsNullOrEmpty(Model.City) || !string.IsNullOrEmpty(Model.Country))
        {
            <div><b><i class="fas fa-map-marker-alt"></i> Location</b></div><div>@Model.City @Model.Country</div>
        }
        <div><b>Joined On</b></div>
        <div>@Model.CreatedOn.Day @Model.CreatedOn.ToString("MMMM") @Model.CreatedOn.Year</div>
    </div>

    @if (Model.UserName != User.Identity.Name)
    {
        <div class="follower" style="display: block;">
            @if (Model.IsBeingFollowedByCurrentUser)
            {
                <button data-userid="@Model.UserId" class="unfollow" onClick="window.location.reload()">Unfollow</button>
            }
            else
            {
                <button data-userid="@Model.UserId" onClick="window.location.reload()">Follow</button>
            }
        </div>
    }
</div>
